@{
    ViewData["Title"] = "Home Page";
}


<div>
    <h1>Nossos Valores</h1>
</div>
<p>
    Somos uma empresa focada em atender os clientes com as melhores técnologias disponíveis para o meio ambiente.
</p>
<p>
    Nosso objetivo é revolucionar a forma como a indústria funciona por meio de equipamentos que garantam a biosustentabilidade por meio do consumo de combustíveis.
</p>

<div>
    Benefícios dos nossos produtos
    <ul>
        <li>
            Econômia no consumo de combustível
        </li>
        <li>
            Econômia financeira
        </li>
        <li>
            Atendimento personalizado 
        </li>
    </ul>
</div>
